{% extends "Base.html" %}

{% block page %}
    <!-- Navbar -->
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">ChiefVideo</h5>
    </div>

    <div class="container">
        {% include 'include/messages.html' %}
        <!-- actual content -->
        {% block content %}
        {% endblock content %}
        <!-- end actual content -->
    </div>


    <!-- Footer -->
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="footer-copyright text-center py-3">
            <small class="d-block mb-3 text-muted text-center">Chief Corporation &copy; 2020</small>
        </div>
    </footer>
{% endblock page %}
