{% extends "BasePage.html" %} {% block content %}
<h1>{{ vid.category }} - {{ vid.name }}</h1>

<div class="alert alert-info" role="alert">Beachten Sie, dass Firefox nicht jedes Videoformat nicht unterstüzt! Nutzen sie Erweiterungen oder Chrome/Edge/Safari</div>
<div class="alert alert-info" role="alert">Alternativ: Rechtsclick auf das Videofeld -> "Videoadresse kopieren" -> In VLC (Strg+N) öffnen</div>

<section class="row">
	<video id="my-video" controls src="{{ vid.url|safe }}" width="100%">Fallback, video kaputt.</video>
</section>

<section class="row">
	<p>Geschwindigkeit: <code id="playback-speed-label">1.0</code> &times;</p>
	<input type="range" class="form-range" min="0.5" max="3" step="0.1" value="1.0" id="playback-speed" />
</section>

<section class="row">
	<a href="{{ vid.url|safe }}" download class="btn btn-block btn-primary">Download</a>
</section>

<script>
	const slider = document.getElementById("playback-speed");
	const video = document.getElementById("my-video");
	const speed_label = document.getElementById("playback-speed-label");
	slider.oninput = function () {
		video.playbackRate = this.value;
		speed_label.innerText = this.value;
	};
</script>
{% endblock content %}
